@import "tailwindcss";

@theme {
  --color-bg: "#fff";
  --color-textColor: "#000";
  --color-softBg: "#f0f0f0";
  --color-softTextColor: "#626262";
}

nav, section {
  @apply max-w-7xl mx-auto px-4 md:px-6;
}
