@import "tailwindcss";

@theme {
  --color-bg: "#fff";
  --color-textColor: "#000";
  --color-softBg: "#f0f0f0";
  --color-softTextColor: "#626262";
}

body {
  @apply text-base bg-gray-100 text-gray-800;
}

button {
  @apply cursor-pointer;
}

@layer utilities {
  .max-container {
    @apply max-w-7xl mx-auto px-4 md:px-6;
  }
}
